<% b = Spectacle.find_by(id: params["id"]) %>
<% cookies["brand"] = b.brand %>

<a href="/spectacles/<%= b.id %>/edit" class="btn btn-danger float-right">Edit</a>

<h3 class="pl-3"><%= b.brand %></h3>

<div class="row">
  <div class="col-sm-3 d-flex flex-column align-items-center">

    <% designer = Designer.find_by(id: b.designer_id) %>

    <% if designer != nil %>
        <p>Designed by <a href="/designers/<%= designer.id %>"><%= designer.name %></p>
    <% else %>
        <p>Designer :(</p>
    <% end %>

    <p><img width="150" src="<%= b.photo_url %>"></p>
    <h3>$ <%= b.price.to_f / 100.0 %></h3>
    <p><a href="#" class="btn btn-primary">Buy Now</a></p>

  </div>
  <div class="col-sm-6">
    <p class="lead">
      <%= b.summary %>
    </p>
  </div>

</div>
